/* CSS rules for search page */

.text-input {
	border-top: 0.1em solid #aaa;
	border-bottom: 0.1em solid #aaa;
	font-size: 1em;
	display: block;
	width: 100%;
	margin: 0.5em 0;
	font-family: inherit;
}