/* CSS rules for lists */

main ol, main ul, main dl, main li { margin: 1em 0; }
main ol, main ul { margin-left: 2em; }
main ol ul, main ul ul, main ul ol, main ol ol { margin-left: 1em; }
main ul { list-style: initial; }
main li { 
	vertical-align: middle; /* For <IE8 cleanliness; not perfect, but the best option. */
	padding-left: 0.5em; 
	display: list-item;
}