/* CSS rules for pagination on list pages */

/* Pagination container */
.pagination { margin-top: 1em; } 

/* Pagination Form */
.pagination form { 
	display: inline; 
	margin-left: 0.5em;
	padding-left: 0.5em;
	border-left: 2px solid #aaa;
}

/* Pagination Links */
.pagilinks { margin-top: 0.5em; } /* Spacing between pagination links and page selector */
.pagilinks a, .pagination .pagibar { margin-right: 0.25em; }