/* CSS rules for quotes and blockquotes */

/* Resets */
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
blockquote {
	border-left: 2px solid #aaa;
	margin-left: 1.25em;
	padding-left: 1.25em; 
}