/* CSS rules for every page */
/* We surround rule groups with {} to be able to minimize sections in Notepad++ */

/* Page type - for a variety of template functions */
{{- $pageType := .Layout | default .Kind -}}



/* *** */
/* VARIABLES */
/* *** */

/* Colours - Global */
/* These are the same whether on lightmode or darkmode */
/* Typically used for generic background and generic text */
$white: #fafafa;
$black: #252525;

/* Colours - Theme-specific */
/* Use map-get(variable name, "colour name") to retrieve values */
/* E.g. $white => #fafafa */
$theme-colours-light: (
	"silver": #565656, /* Layout lines */
	"hl-silver": #c5c5c5, /* Highlights, e.g. selected pagination - not as strong contrast as regular silver */
	"gold": #947200, /* Links */
	"green": #00A800, /* All-OK box on settings page */
	"red": #E00000 /* Error box and error text on settings page */
);
$theme-colours-dark: (
	"silver": #B0B0B0,
	"hl-silver": #484848, 
	"gold": #DAA500,
	"green": #00ff00,
	"red": #FF4545
);

/* Sizes */
$sml-font: 0.9em;
$big-font: 1.2em;

/* *** */
/* MIXINS */
/* *** */

@mixin lists {
	ul, ol { 
		@extend %block;
	}
	li { 
		margin: 1em 0 1em 2em;
		padding-left: 0.5em; 
		display: list-item;
	}
}
@mixin quotes {
	/* Resets */
	blockquote, q { 
		quotes: none; 
		&:before, &:after {
			content: '';
			content: none;
		}
	}
	blockquote {
		/* Quote border spacing */
		@extend %para-margin;
		$quote-space: 1.25em;
		@include border-setter(3px, double, "silver", left);
		margin-left: $quote-space;
		padding-left: $quote-space; 
	}
}
@mixin float-text($direction) {
	text-align: $direction;
	float: $direction;
}
/* Theme borders - sets border colours appropriate for light / dark themes */
/*	$size: thickness of border (px, em, etc.) */
/*	$style: type of border (dashed, solid, etc.) */
/*	$colour: border colour - as a "colours" variable (not darkmode colours!) */
/*	$sides: all, top, right, bottom, or left - as many as desired */
@mixin border-setter($size, $style, $colour, $sides...) {
	@if index($sides, all) {
		body.light & { border: $size $style map-get($theme-colours-light, $colour); }
		body.dark & { border: $size $style map-get($theme-colours-dark, $colour); }
	}
	@else {
		body.light & {
			@for $i from 1 through length($sides) {
				border-#{nth($sides, $i)}: $size $style map-get($theme-colours-light, $colour);
			}
		}
		body.dark & {
			@for $i from 1 through length($sides) {
				border-#{nth($sides, $i)}: $size $style map-get($theme-colours-dark, $colour);
			}
		}
	}
}

/* *** */
/* PLACEHOLDERS */
/* *** */

/* Fonts */
%serif {
	font-family: "Iowan Old Style",
				"Palatino Nova",
				"Palatino Linotype",
				Palatino,
				"URW Palladio L",
				"Palatino LT STD",
				"Book Antiqua",
				Constantina,
				Georgia,
				serif;
			}
%sans {
	font-family: -apple-system, 
				BlinkMacSystemFont, 
				"Segoe UI", 
				"Roboto", 
				"Droid Sans", 
				"Ubuntu", 
				"Helvetica Neue", 
				Helvetica, 
				Arial, 
				"Apple Color Emoji",
				"Segoe UI Emoji", 
				"Segoe UI Symbol",
				sans-serif; 
			}
%mono {
	font-family: "SFMono-Regular", 
				"SF-Mono", 
				Menlo, 
				Monaco, 
				Consolas, 
				"Liberation Mono", 
				"Roboto Mono", 
				"Ubuntu Mono", 
				"Courier New", 
				Courier, 
				monospace; 
			}
%sml-font { font-size: $sml-font; }
%big-font { font-size: $big-font; }
%bold-font { font-weight: bold; }
%unbolded { font-weight: normal; }
%ital-font { font-style: italic; }
%caps-font { font-variant: small-caps; }
%center-text { text-align: center; }

/* Displays */
%block { display: block; }
%il-block {
	display: -moz-inline-stack; /* For old Firefox */
	display: inline-block;
	zoom: 1;
	*display: inline; /* For IE7; see: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */
	/* Note that we cannot simply apply this to all LI elements then override on lists.css,
		as this will break list marker placement. I'm not sure why...
		Something to do with said list items obtaining hasLayout is my best guess, since removing zoom:1—which should prevent hasLayout—seems to fix the problem. See: https://haslayout.net/haslayout.html */
	}
%il-block-list {
	@extend %il-block;
	list-style: none;
}
	
/* Spacings */
%para-margin { margin: 1em 0; }

/* Borders & boxes */
%inset-box { 
	@include border-setter(2px, inset, "silver", all);
	&:active, &:focus {
		@include border-setter(1px, inset, "silver", all);
		padding: 1px;
	}
}
%silver-box {
	@include border-setter(1px, solid, "silver", all);
}

/* Section headings */
%h2 {
	@extend %block; 
	@extend %caps-font;
	@extend %unbolded;
	font-size: 1.4em;
}
%h3 {
	@extend %block;
	@extend %caps-font;
	@extend %ital-font; 
	@extend %unbolded;	
	font-size: 1.25em;
}
%h4 {
	@extend %block; 
	@extend %caps-font;
	@extend %unbolded;
	font-size: 1.15em;
}
%h5 {
	@extend %block;
	@extend %caps-font;
	@extend %ital-font;
	@extend %unbolded;
	font-size: 1.15em; 
}
%h6 {
	@extend %block;
	@extend %caps-font;
	@extend %unbolded;
	font-size: 1em;
}

/* Section breaks */
%hr { 
	@extend %block;
	@extend %para-margin;
	@include border-setter(1px, solid, "silver", bottom);
}

/* Preformatted text (code and pre elements) */
%preformat { 
	display: block;
	white-space: pre;
}

/* Block element centering margins */
%center-block {
	@extend %block;
	margin-left: auto;
	margin-right: auto;
}

/* Themes */
body.light {
	&, & %light-theme { background-color: $white; color: $black; }
	& %light-text { color: $black; }
}
body.dark {
	&, & %dark-theme { background-color: $black; color: $white; }
	& %dark-text { color: $white; }
}
%theming { 
	@extend %light-theme;
	@extend %dark-theme;
}


/* *** */
/* CONTENT STYLES */
/* *** */

/* Load only if page has any content */

{{- with .Content -}}

	/* Headings */
	/* Included outside of #content to avoid doubling on css selectors (eg #content h1, h1) */
	/* h1 is always present, so is not actually included here */
	
	{{- range $seq := seq 2 6 -}}
		{{- $query := print `<h` $seq -}}
		{{- if (findRE $query $.Content 1) -}}
			{{- `h` -}}{{- $seq -}}{{- ` { @extend %h` -}}{{- $seq -}}{{- `; }` -}}
		{{- end -}}
	{{- end -}}

	/* Content-only */

	#content {
	
		/* Paragraphs */
		p { @extend %para-margin; }
		
		/* Figures */
		{{- if findRE `<figure` . 1 -}}
			figure { 
				@extend %block;
				@extend %silver-box;
				& img {
					@extend %center-block;
					@extend %silver-box;
					margin: 0.5em;
					max-width: 75%;
					margin-left: auto;
					margin-right: auto; 
				}
				& figcaption { @extend %center-text; }
			}
		{{- end -}}
		
		/* Lists, including footnotes */
		/* This avoids the "taxonomy" page type as that already uses the
			'lists' import, so we would not need to import it a second time */
		{{- if and (findRE `<li` . 1) (ne "taxonomy" $pageType) -}}
			@include lists;
		{{- end -}}
		
		/* Data lists */
		{{- if findRE `<dl` . 1 -}}
			dl { 
				margin: 1em 0; 
				& dt {
					margin: 1em 0 0 0;
					@extend %bold-font;
				}
				& dd {
					padding-left: 2em;
				}
			}
		{{- end -}}
		
		/* Preformatted text */
		{{- if findRE `<pre` . 1 -}}
			pre { @extend %preformat; }
		{{- end -}}
		
		/* Code */
		{{- if findRE `<code` . 1 -}}
			/* Inline code strips */
			code { 
				@extend %mono;
				@extend %sml-font;
				padding: 0 0.1em;
			}
			.codeblock {
				@extend %mono;
				@extend %silver-box;
				padding: 0 0.25em;
				overflow: auto;
				margin-bottom: 1em;
				tab-size: 4;
				/* padding-top: 1em!ie7;
				padding-bottom: 1em!ie7; */
				& code {
					display: block;
					padding: 0 1em 0 2em; 
				}
			}
			.codeblock-delimit { padding: 0.5em 0; }
		{{- end -}}
		
		/* Strikethroughs */
		{{- if findRE `<del` . 1 -}}
			del { text-decoration: line-through; }
		{{- end -}}
		
		/* Section breaks */
		{{- if findRE `<hr` . 1 -}}
			hr { @extend %hr; }
		{{- end -}}
		
		/* Superscripts */
		{{- if findRE `<sup` . 1 -}}
			sup { 
				vertical-align: super; 
				@extend %sml-font;
			} 
		{{- end -}}
		
		/* Quotes */
		/* As with links: only add this if not on the homepage
			and the featured post is enabled
			to prevent duplication */
		{{- if and (findRE `<li` . 1) 
			(and (ne "home" $pageType) (not $.Site.Params.featured)) -}}
			@include quotes;
		{{- end -}}
		
		/* Tables */
		{{- if findRE `<table` . 1 -}}
			table {
				@extend %para-margin;
				border-collapse: collapse;
				border-spacing: 0;
				text-align: left;
				width: 100%;
			}
			th { @extend %bold-font; }
			th, td {	
				@extend %silver-box;
				padding: 0.25em 0.5em;
				vertical-align: middle; 
			}
		{{- end -}}
	}
{{- end -}}

/* Only shows if any metadata is present for the page */
{{- if or (.Description) (.Params.date) (and .Lastmod (ne .Lastmod .Date)) (.Params.tags) -}}
	.meta {
		@extend %sml-font;
	}
{{- end -}}


/* *** */
/* RESETS */
/* *** */

:root {	
	color-scheme: light dark;
	supported-color-schemes: light dark; 
}
* { 
	margin: 0;
    padding: 0;
    border: 0;
	background: 0;
    vertical-align: baseline;
	box-sizing: border-box;
	font-size: 100%;
}

html { font-size: 18px; }
body { padding: 0 0.5em; }

/* *** */
/* THEME */
/* *** */
/* Theme defaults are set in config.toml */

/* Text alignments */
body.left { text-align: left; }
body.justify { text-align: justify; }
body.right { text-align: right; }
/* Fonts - Body text */
body.serif, // All serif 
body.news, // Sans headings
body.blog // Mono headings
	{ @extend %serif; }
body.sans, // All sans
body.wiki, // Serif headings
body.coder // Mono headings
	{ @extend %sans; }
body.mono, // All mono
body.type, // Serif headings
body.play // Sans headings
	{ @extend %mono; }
/* Fonts - Heading text */
h1, h2, h3, h4, h5, h6, legend, .site-nav {
	body.wiki &, // Sans body text
	body.type &  // Mono body text
		{ @extend %serif; }
	body.news &, // Serif body text
	body.play & // Mono body text
		{ @extend %sans; }
	body.coder &, // Sans body text
	body.blog & // Serif body text
		{ @extend %mono; }
}

/* *** */
/* BASE STYLES */
/* *** */

/* Site banner */
.site-nav { 
	@extend %caps-font;
	font-size: 1.35em; 
	margin: 0.5em 0 0 0;
}
.site-nav li {
	@extend %il-block-list;
	overflow: visible;
	margin: 0 0.5em 0 0;
}

/* Site tagline */
.tagline { 
	@extend %sml-font; 
	@extend %ital-font;
}

/* Main column */
#main {	
	@extend %center-block;
	margin-top: 2em;
	max-width: 34em;
}
/* Screen reader only elements */
/* From: https://wwwnomensacom/blog/how-improve-web-accessibility-hiding-elements */
.sr-only {	
	border: 0;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	&:focus, &:active {
		display: block;
		clip: auto;
		height: auto;
		padding: 0.5em;
		margin: 0.5em 0;
		position: static;
		width: auto; 
	}
}
/* Page title */
.article-header { @extend %para-margin; }
h1 { 
	@extend %unbolded;
	font-size: 1.5em; 
	@include border-setter(3px, double, "silver", bottom);
	/* Small paddings for smaller line spacings */
	padding-bottom: 1px;
	margin-bottom: 3px;
}

/* Links */
a {	
	@extend %light-text;
	@extend %dark-text;
	text-decoration: underline;
	cursor: pointer;
	font-size: 50%;
	& span {
		padding: 1px; // To account for box on hover
		font-weight: normal; 
		font-size: 200%;
	}
	&:hover span, &:focus span {
		padding: 0;
		@extend %silver-box;
	}
	
	/* Lightmode styles */
	body.light & { 
		color: map-get($theme-colours-light, "gold");
		&:hover, &:focus { 
			& span { background-color: map-get($theme-colours-light, "hl-silver"); }
		}
		&:active span { 
			background-color: $black;
			color: $white;
		}
		& span { color: $black; }
	}
	
	/* Darkmode styles */
	body.dark & { 
		color: map-get($theme-colours-dark, "gold");
		&:hover span { background-color: map-get($theme-colours-dark, "hl-silver"); }
		& span { color: $white; }
	}
}

/* FOOTER */
.site-footer {
	@extend %block;
	@extend %center-text;
	$footer-spacing: 3em;
	padding-top: $footer-spacing;
	padding-bottom: $footer-spacing; 
}
.to-top {
	@extend %theming;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0.5em;
}


/* *** */
/* PAGE STYLES */
/* *** */

/* We design it this way rather than separate files to ensure
	that every extension maps to the same placeholder class.
	If we did separate files, we could have rule duplications. */

/* Tags page */
{{- if eq "taxonomy" $pageType -}}
	#main {
		@include lists;
	}
{{- end -}}

/* List pages, including "related links" */
{{- if or 
	(in (slice "home" "term") $pageType)
	(and (not .Params.hideFooter) (.Site.Params.related) ) -}}
	h2 { @extend %h2; }
	h3 { @extend %h3; }
	.listed-article { 
		padding: 1em 0; 
		&+.listed-article { @include border-setter(1px, solid, "silver", top);}
	}
{{- end -}}
{{- if and (eq "home" $pageType) (.Site.Params.featured) -}}
	@include quotes;
	.featured { margin: 2em 0; }
{{- end -}}

/* Forms pages */
{{- if in (slice "search" "settings") $pageType -}}
	/* Fieldsets & legends */
	fieldset { 
		@extend %para-margin;
		@extend %block;
		@extend %silver-box; 
		padding: 0 0.5em;
	}
	legend { 
		@extend %big-font;
		@extend %caps-font;
		padding: 0 0.5em; 
		line-height: 1;
	}

	/* Text inputs */
	select { 
		@extend %inset-box;
		&, & option {
			@extend %theming;
		} 
	}

	/* Checkbox / radio inputs */
	.input {
		margin: 0.5em 0;
		& input {
			margin-right: 0.5em;
		}
	}

	/* Form buttons */
	.large-form-buttons {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		font-size: 1.2em;
	}
	.form-button {
		&+& {
			margin-left: 0.5em;
		}
	}

	/* Hidden form elements (e.g. preview containers, alert boxes...) */
	.hidden { display: none; }
	
	/* Specific form tweaks (usually end-of-form spacing) */
	#cookie-notice .input.checkbox, #sort .input.radio+.input.radio, #line, #size { margin-bottom: 1.5em; }
{{- end -}}
{{- if eq "settings" $pageType -}}
	/* Preview box */
	.preview-box { 
		padding: 0.5em; 
		margin-top: 1em;
	}
	/* Cookies error note */
	#cookie-error {
		body.light & { color: map-get($theme-colours-light, "red"); }
		body.dark & { color: map-get($theme-colours-dark, "red"); }
	}
	
	/* Storage error note */
	#storage-error {
		@include border-setter(2px, dashed, "red", all);
		padding: 0.25em;
	}
	
	/* All-OK notice */
	#settings-ok {
		@include border-setter(2px, solid, "green", all);
		padding: 0.25em;
	}
	
{{- end -}}
{{- if eq "search" $pageType -}}
	/* Text inputs */
	input[type='text'] { 
		@extend %inset-box;
		@extend %block;
		@extend %theming;
		font-size: 1em;
		margin: 0.5em 0;
		width: 100%;
	}

	/* Search tip */
	.search-tip { @extend %sml-font; }

	/* Reset buttons */
	.reset { text-align: right; }

	/* Select box positionings */
	select {
		&.date { 
			@extend %il-block;
			margin-right: 0.5em;
		}
		&.words { @extend %block; }
	}

	/* Tags selector */
	.tag-container {
		@extend %para-margin;
		@extend %silver-box;
		padding: 0.5em 1em;
		overflow-y: auto;
		max-height: 15em;
	}
{{- end -}}

/* Regular pages */
{{- if eq "page" $pageType -}}
	{{- if not .Params.hideFooter -}}

		/* Base footer styles */
		.article-footer { @include border-setter(1px, solid, "silver", top);}
		.shares p { @extend %para-margin; }
		
		/* Next-previous links */
		{{- if .Params.date -}}
			.next-previous {
				margin: 2em 0;
				overflow: auto;
			}
			.next-previous p {	
				width: 45%;
				padding: 0.5em 0;
				@include border-setter(1px, solid, "silver", bottom, top);
			}
			.np-prev { @include float-text(left); }
			.np-next { @include float-text(right); }
			.np-title { 
				@extend %block;
				@extend %bold-font;
			}
		{{- end -}}
		
		/* Section info */
		/* Only used if next or previous posts in sections have dates (no date = needs direct link) */
		{{- $hasNext := false -}}
		{{- $hasPrev := false -}}
		{{- with .NextInSection -}}{{- $hasNext = .Params.date -}}{{- end -}}
		{{- with .PrevInSection -}}{{- $hasPrev = .Params.date -}}{{- end -}}
		{{- if or $hasNext $hasPrev -}}
			.series-info { 
				@extend %para-margin;
				@extend %silver-box; 
				padding: 0 1.25em;
				& .series-lead { @extend %bold-font; }
				& p { 
					padding: 1em 0.75em; 
					&+p {
						@include border-setter(1px, solid, "silver", top);
					}
				}
			}
		{{- end -}}
		
		/* Tags cloud */
		{{- if .Params.tags -}}
			.tags-cloud { 
				@extend %para-margin; 
				& .cloud-tag {
					@extend %il-block-list;
					@extend %silver-box;
					$tag-size: 0.5em;
					margin: $tag-size;
					padding: $tag-size;
				}
			}
		{{- end -}}
	{{- end -}}
{{- end -}}

/* 404 page */
/* Has no markdown file, so we can just chuck this in as-is. */
{{- if eq "404" $pageType -}}
	p { @extend %para-margin; }
{{- end -}}

/* Pages needing pagination */
{{- if gt (.Scratch.Get `pages`).TotalPages 1 -}}
	/* Pagination body */
	.pagination { 
		@extend %center-text;
		margin-top: 1em;
		p { margin: 0.25em 0; }
	} 
	
	/* Pagination Links */	
	$pagilink-width: 3.5em;
	$pagilink-spacing: 0.25em;
	.pagilink-spanner {
		@extend %il-block;
		height: 3px;
		width: $pagilink-width;
		margin: $pagilink-spacing;
		@include border-setter(1px, solid, "silver", bottom, top);
	}
	.pagilink {
		@extend %il-block;
		@extend %silver-box;
		padding: 0.5em 0;
		width: $pagilink-width;
		margin: $pagilink-spacing;
		a {	min-width: 80%; }
	}
	
	/* Page selector links */
	.page-link {
		@extend .pagilink;
		&.selected { 
			@extend %bold-font; 
			body.light & { background-color: map-get($theme-colours-light, "hl-silver") }
			body.dark & { background-color: map-get($theme-colours-dark, "hl-silver") }
		}
	}
{{- end -}}
