{{/* CONTENT */}}
{{/* Applies some post-markdown, pre-render adjustments to content files */}}

<div id="content">
{{/* Add 'bookmark' links to each heading */}}
{{- $contentHeading := `(<h[2-9] id=(?:\"|')([^\"|']+)(?:\"|').*>)(.*)(</h[2-9]+>)` -}}
{{- $contentHeadingWithLink := `${1}<a href='#${2}'>${3}</a>${4}` -}}

{{/* Pull footnote href and rebuild with more generic / ascii "return" */}}
{{- $footnoteReturn := `(?:<a href=(?:\"|')(.*)(?:\'|")(?:.*) class=(?:\"|')footnote-backref(?:'|\") (?:.*)>)(?:.*)(?:</a>)` -}}
{{- $newFootnoteReturn := `<sup><a href='${1}' role='doc-backlink' aria-label='return'>^</a></sup>` -}}

{{/* Remove footnote-ref classes */}}
{{- $oldFootnote := `(class=(?:\"|')footnote-ref(?:'|\"))` -}}
{{- $newFootnote := `` -}}

{{/* Redo TOC title with aria-label */}}
{{- $toc :=`(<nav id=(?:\"|')TableOfContents(?:'|\"))` -}}
{{- $tocNew := `<nav aria-label='Page navigation'` -}}

{{/* Remove hr element with heading for footnotes */}}
{{- $footnotesHr := `(<(?:section|div) class=(?:\"|')footnotes(?:'|\") role=(?:\"|')doc-endnotes(?:'|\")>\s+)(?:<hr>)` -}}
{{- $footnotesNoHr := `${1}<h2 id='references'>Notes</h2>` -}}

{{/* If there is a Notes section, add it to TOC */}}
{{- $endOfToc := `` -}}
{{- $notesLink := `` -}}
{{- if findRE $footnotesHr .Content -}}
	{{- $endOfToc = `(<nav id=(?:\"|')TableOfContents(?:'|\")(?:.|\n|\s)*)(</ul>(?:.|\n|\s)*</nav>)` -}}
	{{- $notesLink = `${1}<li><a href='#references'>Notes</a></li>${2}` -}}
{{- end -}}

{{- .Content
	| replaceRE $footnotesHr $footnotesNoHr
	| replaceRE $footnoteReturn $newFootnoteReturn 
	| replaceRE $contentHeading $contentHeadingWithLink 
	| replaceRE $endOfToc $notesLink
	| replaceRE $toc $tocNew
	| replaceRE $oldFootnote $newFootnote
	| safeHTML -}}
	
</div>