{{/* HTML content for post list pages */}}

{{/* --- */}}
{{/* PAGINATION */}}
{{/* --- */}}

{{- define `pagination` -}}

	{{- $pages := .RegularPagesRecursive -}}
	{{- if .IsHome -}}{{- $pages = .Site.RegularPages -}}{{- end -}}
	{{- $paginator := (.Paginate (where (where $pages `Params.hide` `=` nil) `Params.date` `!=` nil) .Site.Params.paginate) -}}
	{{- .Scratch.Set `pages` $paginator -}}
	{{- with .Scratch.Get `pages` -}}{{- $.Scratch.Set `pageNum` .PageNumber -}}{{- end -}}

{{- end -}}

{{/* --- */}}
{{/* CONTENT */}}
{{/* --- */}}

{{- define `content` -}}

	{{- $pageNum := .Scratch.Get `pageNum` -}}

	{{- if and (.Content) (lt $pageNum 2) -}}
		{{- partial `content` . -}}
	{{- else -}}
		<div id='#content'></div>
	{{- end -}}

	{{/* Show featured post only on first homepage, if enabled and set up correctly */}}
	{{- $featuredBlurb := .GetPage `/featured` -}}
	{{- $featuredPostPath := $featuredBlurb.Params.featuredPost -}}
	{{- $showFeatured := and 
		($featuredBlurb)
		($featuredPostPath)
		(lt $pageNum 2) 
		(.Site.Params.featured) 
		.IsHome -}}
	{{- if $showFeatured -}}
		{{- with .GetPage $featuredPostPath -}}
			<div class='featured'>
				<h2>{{- $featuredBlurb.Title -}}{{- `: ` -}}{{- .Title -}}</h2>
				<div role='article'>
					<blockquote>{{- $featuredBlurb.Content -}}</blockquote>
					<p><a href='{{- .RelPermalink -}}'><span>Read "{{- .Title -}}" here</span></a></p>
				</div>
			</div>
			<h2>Recent posts</h2>
		{{- end -}}
	{{- end -}}
	{{- $paginator := .Scratch.Get `pages` -}}
	<div class='page-list'>
	{{- range $paginator.Pages -}}
		{{- if $showFeatured -}}
			{{- partial `listedpost` (dict `context` . `level` 3) -}}
		{{- else -}}
			{{- partial `listedpost` (dict `context` . `level` 2) -}}
		{{- end -}}
	{{- end -}}
	</div>
	{{- partial `pagination` . -}}
{{- end -}}