{{/* HTML content for lists of taxonomy terms */}}

{{/* --- */}}
{{/* PAGINATION */}}
{{/* --- */}}

{{- define `pagination` -}}

	{{- $paginator := (.Paginate (sort .Pages) .Site.Params.taxPaginate) -}}
	{{- .Scratch.Set `pages` $paginator -}}
	{{- with .Scratch.Get `pages` -}}{{- $.Scratch.Set `pageNum` .PageNumber -}}{{- end -}}

{{- end -}}

{{/* --- */}}
{{/* TERMS LIST */}}
{{/* --- */}}

{{- define `content` -}}

	{{- $paginator := .Scratch.Get `pages` -}}
	{{- $pageNum := .Scratch.Get `pageNum` -}}
	
	{{- if and (.Content) (lt $pageNum 2) -}}
		{{- partial `content` . -}}
	{{- else -}}
		<div id='content'></div>
	{{- end -}}
	
	<ul class='tags-list'>
		{{- range $paginator.Pages -}}
		<li class='list-tag'>
			<a href='{{- .RelPermalink -}}'><span>{{- .Title -}}</span></a>
			{{- with .Pages -}}
				{{- ` – ` -}} {{- len . -}}
				{{- if gt (len .) 1 -}}
					{{- ` Entries` -}}
				{{- else -}}
					{{- ` Entry` -}}
				{{- end -}}
			{{- end -}}
		</li>
		{{- end -}}
	</ul>
	{{- partial `pagination` . -}}
{{- end -}}