{{/* CONTENT */}}
{{/* Applies some post-markdown, pre-render adjustments to content files */}}

<div id="content">
{{/* Pull footnote return and rebuild with more generic / ascii "return" */}}
{{- $footnoteReturn := `(?:<a href=(?:\"|')(#fnref:)([0-9])(?:\'|")([^>]*)>)(?:.*)(?:</a>)` -}}
{{- $newFootnoteReturn := `<sup><a href='${1}${2}' ${3} title='Return to reference ${2}' aria-label='Return to reference ${2}'><span aria-hidden='true'>[^]</span></a></sup>` -}}

{{/* Pull footnote reference and rebuild with proper characters and ARIA accessibility features */}}
{{- $footnoteRef := `(?:<a href=(?:\"|')(#fn:)([0-9])(?:\'|")([^>]*)>)(?:[0-9]*)(?:</a>)` -}}
{{- $newFootnoteRef := `<a href='${1}${2}' ${3} title='Jump to footnote ${2}' aria-label='Jump to footnote ${2}'><span aria-hidden='true'>[${2}]</span></a>` -}}

{{/* Remove footnote-ref classes */}}
{{- $oldFootnote := `(class=(?:\"|')footnote-ref(?:'|\"))` -}}
{{- $newFootnote := `` -}}

{{/* Remove hr element with heading for footnotes */}}
{{- $footnotesHr := `(<(?:section|div) class=(?:\"|')footnotes(?:'|\") role=(?:\"|')doc-endnotes(?:'|\")>\s+)(?:<hr>)` -}}
{{- $footnotesNoHr := `${1}<h2 id='references'>Notes</h2>` -}}

{{/* If there is a Notes section, add it to TOC */}}
{{- $endOfToc := `` -}}
{{- $notesLink := `` -}}
{{- if findRE $footnotesHr .Content -}}
	{{- $endOfToc = `(<nav id=(?:\"|')TableOfContents(?:'|\")(?:.|\n|\s)*)(</ul>(?:.|\n|\s)*</nav>)` -}}
	{{- $notesLink = `${1}<li><a href='#references'>Notes</a></li>${2}` -}}
{{- end -}}

{{/* Replace nav elements with divs using role=navigation */}}
{{- $navElemOld := `(?:<(nav))` -}}
{{- $navElemNew := `<div role='navigation'` -}}

{{/* Redo TOC ID with aria-label */}}
{{- $toc :=`(id=(?:\"|')TableOfContents(?:'|\"))` -}}
{{- $tocNew := `aria-label='Page contents'` -}}

{{- .Content
	| replaceRE $footnotesHr $footnotesNoHr
	| replaceRE $footnoteRef $newFootnoteRef
	| replaceRE $footnoteReturn $newFootnoteReturn 
	| replaceRE $endOfToc $notesLink
	| replaceRE $toc $tocNew
	| replaceRE $oldFootnote $newFootnote
	| replaceRE $navElemOld $navElemNew
	| safeHTML -}}
	
</div>