{{/* CONTENT */}}
{{/* Applies some post-markdown, pre-render adjustments to content files */}}

<div id="content">
{{/* Pull footnote return and rebuild with more generic / ascii "return" */}}
{{- $footnoteReturn := `(?:<a href=(?:\"|')(#fnref:)([0-9]*)(?:\'|")([^>]*)>)(?:.*)(?:</a>)` -}}
{{- $newFootnoteReturn := `<sup><a href='${1}${2}' ${3} title='Return to reference ${2}'><span>[return to ${2}]</span></a></sup>` -}}

{{/* Pull footnote reference and rebuild with proper characters and ARIA accessibility features */}}
{{- $footnoteRef := `(?:<a href=(?:\"|')(#fn:)([0-9]*)(?:\'|")([^>]*)>)(?:[0-9]*)(?:</a>)` -}}
{{- $newFootnoteRef := `<a href='${1}${2}' ${3} title='Jump to footnote ${2}'><span>[note ${2}]</span></a>` -}}

{{/* Remove footnote-ref classes */}}
{{- $oldFootnote := `(class=(?:\"|')footnote-ref(?:'|\"))` -}}
{{- $newFootnote := `` -}}

{{/* Replace hr element with heading for footnotes */}}
{{- $footnotesHr := `(<(?:section|div) class=(?:\"|')footnotes(?:'|\") role=(?:\"|')doc-endnotes(?:'|\")>\s+)(?:<hr>)` -}}
{{- $footnotesNoHr := `${1}<h2 id='references'>Notes</h2>` -}}

{{/* If there is a Notes section, add it to TOC */}}
{{- $endOfToc := `` -}}
{{- $notesLink := `` -}}
{{- if findRE $footnotesHr .Content -}}
	{{- $endOfToc = `(<div role=(?:\"|')navigation(?:'|\") aria-labelledby=(?:\"|')toc-title(?:'|\")(?:.|\n|\s)*)(</ul>(?:.|\n|\s)*<span id=(?:\"|')after-toc(?:'|\")>)` -}}
	{{- $notesLink = `${1}<li><a href='#references'><span>Notes</span></a></li>${2}` -}}
{{- end -}}

{{- .Content
	| replaceRE $footnotesHr $footnotesNoHr
	| replaceRE $footnoteRef $newFootnoteRef
	| replaceRE $footnoteReturn $newFootnoteReturn 
	| replaceRE $endOfToc $notesLink
	| replaceRE $oldFootnote $newFootnote
	| safeHTML -}}
	
</div>