{{/* POST METADATA */}}
{{/* Gets post date, read time, word count, and tags in a nice set of paragraphs. */}}
{{/* Best used for header metadata (just below the title + subtitle) */}}

{{/* Show metadata only on non-list pages or if overwritten in frontmatter */}}
{{- if and (eq .Kind "page") (not .Params.hideMeta) -}}

{{/* ------ */}}
{{/* SKIP META LINK */}}
{{/* ------ */}}

{{/* Only shows if there's any metadata to worry about skipping */}}
{{- if or (.Params.date) (and .Lastmod (ne .Lastmod .Date)) (.Params.tags) -}}
	<a class='sr-only' href='#content'>{{- `Skip metadata` -}}</a>
{{- end -}}
	
{{/* ------ */}}
{{/* PUBLICATION DATE */}}
{{/* ------ */}}
{{- with .Params.date -}}
	<p class='meta'>
		{{- .Format (`January 02, 2006`) -}}
	</p>
{{- end -}}

{{/* ------ */}}
{{/* EDIT DATE */}}
{{/* ------ */}}

{{/* Show edited date only if it differs from the post date */}}
{{- with .Lastmod -}}
	{{ if ne . $.Date -}}
		<p class='meta'>
			{{- `Edited: ` -}}
			{{- .Format (`January 02, 2006`) -}}
		</p>
	{{- end -}}
{{- end -}}

{{/* ------ */}}
{{/* COUNTS */}}
{{/* ------ */}}
<p class='meta'>
	{{- .ReadingTime -}}
	{{- ` minute read ` -}}
	{{- `(` -}}{{- .FuzzyWordCount -}}{{- ` words)` -}}
</p>

{{/* ------ */}}
{{/* CATEGORIES LIST */}}
{{/* ------ */}}
{{- with .Params.tags -}}
	<div class='meta'>
		<span class='tags-label'>Tags:</span>
		<ul>
			{{- range . -}}
				{{- partial `tag` . -}}
			{{- end -}}
		</ul>
	</div>
{{- end -}}

{{- end -}}