{{/* POST METADATA */}}
{{/* Gets post date, read time, and tags in a nice set of paragraphs. */}}
{{/* Best used for header metadata (just below the title + subtitle) */}}
	
{{/* ------ */}}
{{/* DATES + COUNTS */}}
{{/* ------ */}}
{{- if .Params.date -}}
	<p class='meta'>
		{{- .Date.Format (`January 02, 2006`) -}}
		{{- ` – ` -}}
		{{- .FuzzyWordCount -}}{{- ` words` -}}
	</p>
{{- end -}}

{{/* ------ */}}
{{/* EDIT DATE */}}
{{/* ------ */}}

{{/* Show edited date only if it differs from the post date */}}
{{- with .Lastmod -}}
	{{ if ne . $.Date -}}
		<p class='meta'>
			{{- `Edited: ` -}}
			{{- .Format (`January 02, 2006`) -}}
		</p>
	{{- end -}}
{{- end -}}

{{/* ------ */}}
{{/* CATEGORIES LIST */}}
{{/* ------ */}}
{{- with .Params.tags -}}
	<div class='meta'>
		<span class='tags-label'>Tags:</span>
		<ul>
			{{- range . -}}
				{{- partial `tag` . -}}
			{{- end -}}
		</ul>
	</div>
{{- end -}}