{{/* PAGINATOR */}}
{{/* Gets page numbers and links for paginated pages (e.g. lists of posts, tags...) */}}
	
{{- $paginator := .Scratch.Get `pages` -}}

{{- if gt $paginator.TotalPages 1 -}}{{- with $paginator -}}
	<a class='sr-only' href='#footer'>Skip Pagination</a>
	<div role='navigation' aria-label='Pagination' class='pagination'>
		{{- `Page ` -}} {{- .PageNumber -}} {{- ` of ` -}} {{- .TotalPages -}}
		<div class='pagilinks'>
			{{- if .HasPrev -}}
				{{- $first := `Go to first page` -}}
				<span class='pagilink'><a href='{{- .First.URL -}}' aria-label='$first' title='$first'>&lt;&lt;</a></span>
				{{- $prev := `Go to previous page` -}}
				<span class='pagilink'><a href='{{- .Prev.URL -}}' aria-label='$prev' title='$prev'>&lt;</a></span>
			{{- end -}}
			<span class='pagilink-spanner'></span>
			{{- if .HasNext -}}
				{{- $next := `Go to next page` -}}
				<span class='pagilink'><a href='{{- .Next.URL -}}' aria-label='$next' title='$next'>&gt;</a></span>
				{{- $last := `Go to last page` -}}
				<span class='pagilink'><a href='{{- .Last.URL -}}' aria-label='$last' title='$last'>&gt;&gt;</a></span>
			{{- end -}}
		</div>
		<div>
			<a href='#pagelist-end' class='sr-only'>Skip page list</a>
			<ul>
				{{- range seq 1 .TotalPages -}}
					<li class='page-link' 
						{{- if eq $paginator.PageNumber . -}}
							aria-current='page'><span class='selected' aria-label='Page {{- . -}}'>{{- . -}}</span>
						{{- else -}}
							><a href='{{- $.RelPermalink -}}page/{{- . -}}' aria-label='Go to page {{- . -}}'>{{- . -}}</a>
						{{- end -}}
					</li>
				{{- end -}}
			</ul>
			<span id='pagelist-end'></span>
		</div>
{{- end -}}{{- end -}}