{{/* PAGINATOR */}}
{{/* Gets page numbers and links for paginated pages (e.g. lists of posts, tags...) */}}
	
{{- $paginator := .Scratch.Get `pages` -}}

{{- if gt $paginator.TotalPages 1 -}}{{- with $paginator -}}
	<a class='sr-only' href='#footer'><span>Skip Pagination</span></a>
	<div role='navigation' aria-label='Pagination' class='pagination'>
		<p>{{- `Page ` -}} {{- .PageNumber -}} {{- ` of ` -}} {{- .TotalPages -}}</p>
		<div class='pagilinks'>
			{{- if .HasPrev -}}
				<span class='pagilink'>
					<a href='{{- .First.URL -}}' title='Go to first page'><span>First</span></a>
				</span><span class='pagilink'>
					<a href='{{- .Prev.URL -}}' title='Go to previous page'><span>Prev</span></a>
				</span>
			{{- end -}}
			<span class='pagilink-spanner'></span>
			{{- if .HasNext -}}
				<span class='pagilink'>
					<a href='{{- .Next.URL -}}' title='Go to next page'><span>Next</span></a>
				</span><span class='pagilink'>
					<a href='{{- .Last.URL -}}' title='Go to last page'><span>Last</span></a>
				</span>
			{{- end -}}
		</div>
		<div>
			<a href='#pagelist-end' class='sr-only'><span>Skip page list</span></a>
			<p>Jump to page:</p>
			<ul>
				{{- range seq 1 .TotalPages -}}
					<li class='page-link 
						{{- if eq $paginator.PageNumber . -}}
							{{- ` selected` -}}' aria-current='page'><span title='Page {{ . -}}'>{{- . -}}</span>
						{{- else -}}
							'><a href='{{- $.RelPermalink -}}page/{{- . -}}' title='Go to page {{ . -}}'><span>{{- . -}}</span></a>
						{{- end -}}
					</li>
				{{- end -}}
			</ul>
			<span id='pagelist-end'></span>
		</div>
{{- end -}}{{- end -}}