/* CSS rules for all pages */

/* *** */
/* COLOUR REFERENCES */
/* *** */
/*
$white: #fafafa; For background or text
$silver: #aaa; For layout lines
$black: #252525; For text or background
$gold: #daa520; For links
*/

:root {	
	color-scheme: light dark;
	supported-color-schemes: light dark; 
}
* { 
	color: inherit;
	margin: 0;
    padding: 0;
    border: 0;
	background: 0;
    vertical-align: baseline;
	box-sizing: border-box;
	font-size: 100%;
}
*:focus {
	border: 2px solid #aaa;
}
html { font-size: 18px; } /* Default font-size */

/* HTML5 display-role reset for older browsers */
/* Plus some general "display: block" elements. */
article, aside, details, figcaption, figure, main, 
footer, fieldset, header, hgroup, menu, nav, section,
h1, h2, h3, h4, h5, h6, ul {
	display: block;
}
/* "display:inline-block" elements */
a, 
button.a, 
.site-nav li, 
.meta ul li, 
.footer-meta ul li,
.meta-row dt, 
.meta-row dd, 
.meta-row li { 
	display: -moz-inline-stack; /* For old Firefox */
	display: inline-block;
	zoom: 1;
	*display: inline; /* For IE7; see: https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */
	/* Note that we cannot simply apply this to all LI elements then override on lists.css,
		as this will break list marker placement. I'm not sure why...
		Something to do with said list items obtaining hasLayout is my best guess, since removing zoom:1—which should prevent hasLayout—seems to fix the problem. See: https://haslayout.net/haslayout.html */
}

/* THEME SETTINGS */
/* Defaults have no class selector, so if you want to change the default,
	add an appropriate class selector to the current default
	and remove the class selector from your desired default. 
	Best practice: add the removed class name as a comment! */

/* Non-class defaults */
body { padding: 0 0.5em; line-height: 1.3; }
/* Base colours */ 
body, 
body .to-top, 
body select, 
body select option, 
body input 
	{ background-color: #fafafa; color: #252525; } /* .light */
body a { color: #252525; }
body.dark, 
body.dark .to-top, 
body.dark select, 
body.dark select option, 
body.dark input 
	{ background-color: #252525; color: #fafafa; }
body.dark a { color: #fafafa; }
/* Text alignments */
body {text-align: left; } /*.left*/
body.justify { text-align: justify; }
body.right { text-align: right; }
/* Fonts*/
body { /*.serif*/
	font-family: "Iowan Old Style",
				"Palatino Nova",
				"Palatino Linotype",
				Palatino,
				"URW Palladio L",
				"Palatino LT STD",
				"Book Antiqua",
				Constantina,
				Georgia,
				serif;
}
body.sans { font-family: -apple-system, 
				BlinkMacSystemFont, 
				"Segoe UI", 
				"Roboto", 
				"Droid Sans", 
				"Ubuntu", 
				"Helvetica Neue", 
				Helvetica, 
				Arial, 
				"Apple Color Emoji",
				"Segoe UI Emoji", 
				"Segoe UI Symbol",
				sans-serif; 
}
body.mono, code, .codeblock { font-family: "SFMono-Regular", 
		"SF-Mono", 
		Menlo, 
		Monaco, 
		Consolas, 
		"Liberation Mono", 
		"Roboto Mono", 
		"Ubuntu Mono", 
		"Courier New", 
		Courier, 
		monospace; 
}

/* Site banner */
.site-nav { 
	font-size: 1.35em; 
	margin: 0.25em 0 0 0;
	font-variant: small-caps;
}
.site-nav li { 	margin: 0 0.5em 0 0; }

/* Metadata / Site Tagline */
.tagline, .meta { font-size: 0.9em; }
.tagline { font-style: italic; margin-top: 0.25em; }

/* Main column */
#main {	
	margin: 2em auto 0 auto;
	max-width: 34em;
}
/* Screen reader only elements */
/* From: https://www.nomensa.com/blog/how-improve-web-accessibility-hiding-elements */
.sr-only {	
	border: 0;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.sr-only:focus, .sr-only:active {
	display: block;
	clip: auto;
	height: auto;
	padding: 0.5em;
	margin: 0;
	position: static;
	width: auto; 
}

/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h2, h3, h4, h5, h6 { 
	font-variant: small-caps;
}
/* Page title */
.article-header { margin-bottom: 1em; }
h1 { 
	font-size: 1.5em; 
	border-bottom: 6px double #aaa;
	/* Small paddings for smaller line spacings */
	padding-bottom: 1px;
	margin-bottom: 3px;
}

/* Links */
/* Link styling (replacing bottom padding with a gold border) */
a {	
	text-decoration: none;
	cursor: pointer;
	padding: 2px 2px 0 2px;
	border-bottom: 2px solid #daa520;
	line-height: 1;
}
/* Ensure elements in a tags render no background and break a tag borders */
a * { background-color: transparent !important; }
a:hover, a:focus { 
	padding: 0; 
	border: 2px solid #aaa; 
}
a:active { background-color: #aaa; }

/* FOOTER */
.site-footer {
	display: block;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em; 
	width: 100%;
}
.to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0.25em;
}

/* HIGHLIGHT JS */
/* Ensures elements that don't have a traditional :hover  behaviour, e.g. radio buttons, still can. */
/* This is the visual side. See highlighter.js for the behaviours. */
.highlighted { border: 2px solid #aaa; }