/* CSS rules for search page */

/* Input fields */
.text-input {
	font-size: 1em;
	margin: 0.5em 0;
}
.text-input.long {
	display: block;
	width: 100%;
}

/* Search tips */
.search-tip { font-size: 0.9em; }

/* Search buttons */
.search-buttons a { font-size: 1.2em; }
.search-button { margin-right: 0.5em; }

/* Advanced search sub-sections */
.search-section {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: thin solid #aaa;
}

/* All select boxes */
.select-box { display: block; margin: 0.5em 0; }

/* Advanced search paragraphs override */
#content #advanced-opt fieldset p { margin: 0; margin-bottom: 0.5em; }

/* "Search In" section */
.loc-item { display: block; }
.loc-item.buttons { margin-top: 0.5em; }
.loc-button.all { margin-right: 0.25em; }

/* "Tags Select" section */
.tag-container { 
	border: 2px solid #aaa;
	margin: 0 0.5em 0.5em 0.5em ;
	padding: 0.5em 0.5em;
	overflow-y: auto;
	max-height: 15em;
}

/* "Dates" section */
.select-box.date { display: inline; margin-right: 0.5em; }

/* Reset buttons */
.reset-button { float: right; }