/* CSS rules for search page */

/* Input fields */
.text-input {
	font-size: 1em;
	margin: 0.5em 0;
}
.text-input.long {
	display: block;
	width: 100%;
}

/* Search tips */
.search-tip { font-size: 0.9em; }

/* Search buttons */
.search-buttons { font-size: 1.2em; }
.search-buttons a { margin-right: 0.5em; }

/* Advanced search sub-sections */
.search-section {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: thin solid #aaa;
}

/* All select boxes */
.select-box { display: block; margin: 0.5em 0; }

/* Advanced search paragraphs override */
#content #advanced-opt fieldset p { margin: 0; }

/* "Search In" section */
.loc-item { display: block; }
.loc-button.all { margin-right: 0.25em; }

/* "Tags Select" section */
.tag-input { margin-right: 0.25em; }

/* Reset buttons */
.reset-button { float: right; }