<a href="{{- .Destination | safeURL -}}"{{- with .Title -}} title="{{- . -}}"{{- end -}}{{- if strings.HasPrefix .Destination "http" -}} target="_blank" rel="noopener"{{- end -}}>{{- .Text | safeHTML -}}</a>

{{/* Also maybe add an "external link" pop-up on external links
(Just a little something that appears below external links e.g. at https://semenar.itch.io/version-control)
-And add a aria-description or some other tag for screen readers, of course 
Be sure to remove this comment - otherwise links will have whitespace around them. IDFK why. */}}